<%- include('layout.ejs'); %>
<%- include('sidebar.ejs'); %>


<div class="container" data-route="<%= locals.path %>">
    <h1 class="main-h1">Welcome <span><%= user.name %></span></h1>
    <%- include('files.ejs'); %>

</div>

</body>

</html>