<%- include('layout.ejs'); %>
<%- include('sidebar.ejs'); %>


<div class="container" data-route="<%= locals.path %>">
    <h1 class="main-h1">Downloads</h1>

    <table>
        <thead>
        <tr>
            <th>Type</th>
            <th>Filename</th>
            <th>Size</th>
            <th>Downloaded</th>
        </tr>
        </thead>
        <tbody>
        <% data.forEach((obj) => { %>
            <tr>
                <td class="status"><i class='bx bxs-file<%= obj.icon %>'></i></td>
                <td title="<%= obj.title %>"><%= obj.title %>
                    <span>
                    <a href="<%= obj.online ? obj.url : '#' %>" target="blank"><%= obj.subtitle %></a>
                </span>
                </td>
                <td class="file-size">
                    <p><%= obj.filesize %></p>
                    <span> <%= obj.unit.toUpperCase() %></span>
                </td>
                <td class="downloaded">
                    <p><%= obj.downloaded %></p>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>


</div>


</body>

</html>