<%- include('layout.ejs'); %>
<%- include('sidebar.ejs'); %>


<div class="container" data-route="<%= locals.path %>">
    <h1 class="main-h1">Settings</h1>

    <table>
        <thead>
        <tr>
            <th>Option</th>
            <th>Status</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <% for (let key in settings) { %>
            <tr>
                <td class="capitalize">
                    <p><%= key.toLowerCase() %></p>
                </td>
                <td class="downloaded">
                    <i class='bx bx-message-square-<%= settings[key] ? "check" : "x" %>'></i>
                </td>
                <td class="capitalize">
                    <input type="checkbox" name="<%= key %>" id="<%= key %>"
                            <%- !settings[key] ? "" : "checked" %>
                    >
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <div class="save">
        <a class="button" title="save" href="/settings">Save</a>
    </div>


</div>


</body>

</html>
